@model ExotikaTrial2.Models.Employee

@{
    ViewData["Title"] = "Employee Details";
}


<div style="padding: 10vh;">
    <div style="padding: 10vh; background-color:rgb(255,255,255); border: 2px solid rgb(0,0,0); border-radius: 12px;">
        <h1>Employee Details</h1>
        <div>
            <hr /><br><br />
            <div class="row">
                <div class="mb-5">
                    <h2>@Html.DisplayNameFor(model => model.EmployeeName)</h2>
                    <p>@Html.DisplayFor(model => model.EmployeeName)</p>
                </div>
                <div class="mb-5">
                    <h2>@Html.DisplayNameFor(model => model.Designation)</h2>
                    <p>@Html.DisplayFor(model => model.Designation)</p>
                </div>
                <div class="mb-5">
                    <h2>@Html.DisplayNameFor(model => model.PhoneNumber)</h2>
                    <p>@Html.DisplayFor(model => model.PhoneNumber)</p>
                </div>
                <div class="mb-5">
                    <h2>@Html.DisplayNameFor(model => model.DateOfJoining)</h2>
                    <p>@Html.DisplayFor(model => model.DateOfJoining)</p>
                </div>
            </div>
        </div>
            <br /><br /><hr /><br /><br />
            <a asp-action="Edit" asp-route-id="@Model?.EmployeeId" class="btn1" style="width:auto">Edit</a>
            <a asp-action="Index" class="btn1" style="width:auto">Back to List</a>
    </div>
</div>
